:local .title {
  background: #00adef17;
  border-bottom: 2px solid gray;
  margin: 0 0 10px 0;
  min-height: 43px;
  padding: 10px 20px;
}

:local .titleLink {
  color: #333;
  text-decoration: none;
}

:local .goBack {
  font-size: 32px;
  text-decoration: none;
}

:local .content {
  padding: 10px 20px;
}


@media (max-width: 620px) {
  :local .goBack {
    margin-left: 20px;
  }
}
